* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
/*navbar*/
nav {
  position: fixed;
  display: flex;
  background-color: burlywood;
  justify-content: space-around;
  /* padding: 20px 0; atas bawah 20  kiri kanan 0 */
  /* atur padding dengan flex */
  width: 100%;
  height: 85px;
  align-items: center;
  color: whitesmoke;
  z-index: 1;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  margin-right: 20px;
  margin-left: auto;
  justify-content: space-between;
  transition: all 0.4s;
}
nav .logo {
  width: 100%;
  height: auto;
  max-width: 75px;
  margin-left: 30px;
  margin-right: auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px; /*space antar char*/
}
nav .logo .image {
  border-radius: 40px;
  margin-left: auto;
  margin-right: 10px;
}

.logo {
  transition-duration: 500ms;
}

.logo:hover {
  cursor: default;
  transform: rotate(1deg);
  transform: scale(1.1);
}

nav .logo h4 a {
  color: white;

  white-space: nowrap;
}

nav .logo h4 a:hover {
  color: darkolivegreen;
}

nav ul li a {
  text-decoration: none;
  margin-left: auto;
  color: white;
  font-size: 0.9rem;
}

nav ul li a:hover {
  color: teal;
}
/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 17px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  top: -5px;
  left: -3px;
  width: 21px;
  height: 21px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 21px;
  height: 2px;
  background-color: whitesmoke;
  border-radius: 3px;
  transition: all 0.7s;
}

/*x on hamburger menu*/
.menu-toggle span:nth-child(2) {
  transform-origin: left center;
}

.menu-toggle span:nth-child(4) {
  transform-origin: left center;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}
/* invis span ke 2 / child ke 3 */
.menu-toggle input:checked ~ span:nth-child(3) {
  width: 0%;
  opacity: 0;
  transition: 0.1s;
}

.image {
  width: 100%;
  height: auto;
  max-width: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#home {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: rgb(248, 248, 248);
}

#profil {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#deskripsi {
  display: flex;
  width: 65%;
  flex-direction: row;
  justify-content: stretch;
}

#deskripsi .article {
  padding: 10px;
  width: 50%;
}

#tentangSaya p {
  color: rgb(51, 51, 51);
  padding: 15px\;
}

figure {
  width: 35%;
  align-self: center;
}

figure .image {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

figcaption {
  color: rgb(51, 51, 51);
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
}

#tentangSaya {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 15px;
}

#tentangSaya iframe {
  border-radius: 12px;
  padding: 15px;
  align-self: center;
  margin-top: 10px;
  box-shadow: 0 0 5px 0.5px;
  max-width: 100%;
  align-self: center;
  /* max-height: 315px; */
  width: 360px;
  height: 215px;
}

#profilDiri {
  color: rgb(51, 51, 51);
  width: 50%;
  margin-left: 15px;
}

#profilDiri li {
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgb(0, 16, 29) 1px;
  padding: 5px;
}

#profilDiri p {
  padding: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#personal {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px;
  justify-content: space-between;
}

#hobi {
  margin-right: 25px;
  width: 50%;
}

#sosmed {
  width: 50%;
  margin-left: 25px;
}

#galeri {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#galeri img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  margin: 5px 0;
  box-shadow: 0 0 5px 0.1px;
  transition-duration: 100ms;
}

#media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#media img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
  margin: 5px 0;
  box-shadow: 0 0 5px 0.1px;
  transition-duration: 100ms;
}

#skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 240);
}

#kemampuan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
}

.teknis {
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  margin: 10px 5px;
  width: 45%;
}

.teknis img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#wish {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#lesson {
  justify-content: center;
  width: 40%;
  height: 250px;
  margin-right: 30px;
  
}

#lesson p {
  padding: 20px;
}

#harapan {
  width: 40%;
  height: 250px;
  margin-left: 30px;
}

#harapan p {
  padding: 20px;
}

#location {
  flex-direction: column;
  background-color: rgb(255, 255, 240);
}

#scrapping-page {
  width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-bottom: 50px;
}

#scrapping-title {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  align-self: center;
  z-index: 1;
}
table, th:first-child, td:first-child {
  border-right: 1px solid black;
  width: 50px;
}

table, th, td {
  width: 280px;
  align-self: center;
  text-align: center;
  border: 1px solid black;
  
}

.title {
  text-align: center;
}

.map {
  margin: 10px auto;
  align-self: center;
  width: 60%;
  border-radius: 15px;
}

main {
  display: flex;
  flex-direction: row;
}

.box {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
/* supaya ada jarak antar box  */
.flexone {
  flex-grow: 1;
}
.flextwo {
  flex-grow: 2;
}
footer {
  text-align: center;
}

h2 {
  color: brown;
  text-justify: inter-word;
  word-wrap: break-word;
}
h5 {
  text-align: center;
  color: red;
  word-wrap: break-word;
}
p {
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  main {
    flex-direction: column-reverse;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: burlywood;
    transform: translateX(100%); 
    transition: all 0.72s;
    opacity: 0;
    z-index: 2;
  }
  nav ul.menushow {
    opacity: 0.5;
    transform: translateX(0);
  }

  #home {
    flex-direction: column;
    padding: 0;
  }

  #home figure {
    margin-top: 30px;
  }

  #profil {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  #deskripsi {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  #tentangSaya {
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    justify-content: center;
  }

  #tentangSaya p {
    width: 90%;
    margin-left: 15px;
  }

  #profilDiri {
    width: 100%;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #profilDiri li {
    width: 90%;
  }
  
  #personal {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  #hobi {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 10px;
    width: 80%;
  }

  #galeri img {
    width: 100px;
    height: 100px;
  }

  #sosmed {
    margin-left: 0;
    margin-top: 10px;
    width: 80%;
  }

  #media img {
    width: 70px;
    height: 70px;
  }

  #skills {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #kemampuan {
    flex-direction: column;
    width: 80%;
    align-items: stretch;
  }
  
  .teknis {
    flex-direction: row;
    width: 100%;
  }

  #wish {
    height: 100%;
    width: 100%;
    flex-direction: column;

  }

  #lesson {
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-right: 0;
    justify-content: center;
  }

  #lesson h2 {
    text-align: center;
  }

  #harapan {
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-left: 0;
    justify-self: center;
  }

  #harapan h2 {
    text-align: center;
  }

  #location {
    width: 100%;
    height: 100%;
  }

  #location .map {
    margin: 0;
    width: 100%;
  }
}
